<div class="card" style="overflow: hidden;">
    <div class="p-grid p-fluid">
        <div class="p-col-12 p-md-12" style="margin-bottom: 1rem;">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input type="text" pInputText placeholder="Name">
            </div>
        </div>
        <div class="p-col-12 p-md-12" style="margin-bottom: 1rem;">
            <p-fileUpload accept="image/*" name="demo[]" (onSelect)="onUpload($event)" [multiple]="true">

            </p-fileUpload>
        </div>
        <div class="p-col-12 p-md-12" style="margin-bottom: 1rem;">
            <p-dropdown placeholder="Select resource reposiotry" [options]="[
          { name: 'pure-javascript-site-constructor', code: 'NY' },
          { name: 'simple-calculator-for-android', code: 'RM' },
          { name: 'wrsr-mod-installer', code: 'LDN' },
        ]" optionLabel="name"></p-dropdown>
        </div>
        <div class="p-col-12 p-md-12" style="margin-bottom: 1rem;">
            <p-dropdown placeholder="Target MP" [options]="[
          { name: 'RageMP', code: 'NY' },
          { name: 'altV', code: 'RM' },
          { name: 'FiveM', code: 'LDN' },
        ]" optionLabel="name"></p-dropdown>
        </div>
        <div class="p-col-12 p-md-12" style="margin-bottom: 1rem;">
            <textarea [autoResize]="true" [rows]="5" [cols]="30" pInputTextarea placeholder="Description"></textarea>
        </div>
        <div class="p-col-12 p-md-12" style="margin-bottom: 1rem;">
            <div class="p-field p-col-12 p-md-3">
                <p-inputNumber placeholder="Price" inputId="currency-us" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
            </div>
        </div>
        <div class="p-col-12 p-md-12" style="margin-bottom: 1rem;">
            <div style="display: flex; flex-direction: row; justify-content:start;">
                <p-button label="Publish" icon="pi pi-shopping-cart" style="margin-right: 1rem;"></p-button>
                <p-button label="Save" icon="pi pi-shopping-cart"></p-button>
                <!-- <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button> -->
            </div>
        </div>
    </div>
</div>